<div class="space-y-4">
    <div class="bg-white w-full divide-y divide-gray-200">
        <div class="p-4 font-bold uppercase flex justify-between text-sm md:text-base">
            <div>Naslednja tekma</div>
            <div>{{ next_match:date_of_match format_localized="%d. %B %Y ob %H:%M" }}</div>
        </div>
        <div class="flex justify-between items-center p-4">
            <img src="{{ next_match:home_team:logo }}" alt="" class="hidden md:block" />
            <div class="flex space-x-2 md:space-y-0 md:grid md:grid-cols-3 md:gap-4 md:text-xl font-semibold">
                <div class="md:text-right flex items-center">{{ next_match:home_team:title }}</div>
                <div class="md:text-center md:text-4xl font-bold">&dash;</div>
                <div class="md:text-left flex items-center">{{ next_match:away_team:title }}</div>
            </div>
            <img src="{{ next_match:away_team:logo }}" alt="" class="hidden md:block" />
        </div>
    </div>
    <div class="bg-white w-full divide-y divide-gray-200">
        <div class="p-4 font-bold uppercase flex justify-between text-sm md:text-base">
            <div>Zadnja tekma</div>
            <div>{{ last_match:date_of_match format_localized="%d. %B %Y ob %H:%M" }}</div>
        </div>
        <div class="flex justify-between items-center p-4">
            <img src="{{ last_match:home_team:logo }}" alt="" class="hidden md:block"/>
            <div class="flex space-x-2 md:space-y-0 md:grid md:grid-cols-3 md:gap-4 md:text-xl font-semibold">
                <div class="md:text-right flex items-center">{{ last_match:home_team:title }}</div>
                <div class="md:text-center md:text-4xl font-bold">{{ last_match:home_team_score }} &dash;
                    {{last_match:away_team_score}}
                </div>
                <div class="md:text-left flex items-center">{{ last_match:away_team:title }}</div>
            </div>
            <img src="{{ last_match:away_team:logo }}" alt="" class="hidden md:block"/>
        </div>
    </div>
</div>
