<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }} &mdash; Arsenal Slovenija</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
</head>
<body class="bg-gray-100 font-sans leading-normal text-gray-800">
{{ partial:nav }}
<div class="max-w-screen-lg mx-auto space-y-4 pb-16">
    {{ template_content }}
    {{ partial:matches }}
    {{ partial:sponsors }}
</div>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>
